.regisztracio {
    position: relative;
    top: 105px;
    left: -170px;
    a {
        font-size: 18px;
        text-decoration: none;
        color: white;
        &:hover {
            color: black;
        }
    }
}

#bejelentkezes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
