@import "styles/reg";
@import "styles/fooldal";
@import "styles/be";

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.index-bg {
    body {
        background-image: linear-gradient(45deg, #70090c, #5a5a5a);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.fooldal-bg {
    body {
        background-image: linear-gradient(45deg, #719cb2, #1f4e74);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}
